.toolbar {
  width: 1000px;
  display: flex;
  align-items: center;
  background-color: #7919d2;
  color: white;
  font-weight: 600;
  text-align: left;
  padding: 15px 25px;
  border: 1px solid #000;
  border-bottom: 0;
}

h1 {
  margin-bottom: 0;
}
